#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define SYSTEM  3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &mo LOWER   &kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                                  &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp EQUAL   &mo RAISE
    &kp BSLH    &kp GRAVE   &kp Q       &kp W       &kp E       &kp R       &kp T                                   &kp Y       &kp U       &kp I       &kp O       &kp P       &kp MINUS   &mo SYSTEM
    &kp PG_UP   &kp LCTRL   &kp A       &kp S       &kp D       &kp F       &kp G                                   &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT     &kp LBKT
    &kp PG_DN   &kp LSHIFT  &kp Z       &kp X       &kp C       &kp V       &kp B                                   &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHIFT  &kp RBKT
                                        &kp LEFT    &kp RIGHT                                                                               &kp UP      &kp DOWN
                                                                &kp SPACE   &kp LCMD    &kp LALT        &kp RALT    &kp RCMD    &kp ENTER
                                                                            &kp BKSP    &kp DEL         &kp BSLH    &kp TAB
            >;
        };

        lower_layer {
            bindings = <
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
                                        &trans      &trans                                                                                  &trans      &trans
                                                                &trans      &trans      &trans          &trans      &trans      &trans
                                                                            &trans      &trans          &trans      &trans
            >;
        };

        raise_layer {
            bindings = <
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
                                        &trans      &trans                                                                                  &trans      &trans
                                                                &trans      &trans      &trans          &trans      &trans      &trans
                                                                            &trans      &trans          &trans      &trans
            >;
        };

        system_layer {
            bindings = <
    &trans      &trans      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                        &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                  &trans      &trans      &trans      &trans      &trans      &trans      &trans
                                        &trans      &trans                                                                                  &trans      &trans
                                                                &trans      &trans      &studio_unlock  &trans      &trans      &trans
                                                                            &trans      &bt BT_CLR      &trans      &trans
            >;
        };

    };
};
